# MacOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Editor/IDE
.idea/
.vscode/
*.swp
*.swo

# Rust
/target
Cargo.lock

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
