apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vortex-data-pvc
  namespace: vortex
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 500Mi
  storageClassName: standard
